

<div class="col-lg-6">
    <div class="bodyWrap_bg signupFormWrap">
        <h2>Create Your Account</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>


        <div class="signup_bottom_infoLine">
            <span>Already registered? <a asp-action="SignIn" asp-asp-controller="Home">Sign In</a></span>
        </div>

    </div>
</div>


