@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Engagement&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* Navigation Bootstrap Default Style */
/* font-family: 'Engagement', cursive; */

@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
/* font-family: 'Great Vibes', cursive; */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,900&display=swap');
/* font-family: 'Roboto Slab', serif; */
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
/* font-family: 'Kaushan Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
/* font-family: 'Roboto Condensed', sans-serif; */

html{
	scroll-behavior:smooth;
}
body.default_theme{
	overflow-x:hidden;
/*	background-color:#FFFFFF;
	background:url('../images/brazil_color.png') no-repeat fixed top right rgba(210,255,218,1);*/
	background: rgb(255,240,240);
	background: linear-gradient(90deg, rgba(255,240,240,1) 0%, rgba(210,255,218,1) 100%);
}
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
}
}
.default_theme .container_center.bg_style{
	box-shadow:none;
	background-color:transparent;
}
.default_theme.pageCenter_Style .fixedHeader_center{
	background:none !important;
}
.slideShow_BannerSection, .vacationPackage_Section, .packageFeatures_Section, .innnerPage_section{
	/* overflow:hidden; */
	margin-bottom:20px;
}

.headerWeb_theme.header_section{
	background:none;
}
.headerWeb_theme.header_section .Header_logo{
	margin-right:40px;
}
.headerWeb_theme.header_section .nav-outer, .headerWeb_theme.header_section .nav_combo_block{
	margin-left:auto;
	justify-content:flex-end;
}
.headerWeb_theme.header_section .service_wrapper .icon{
	font-size:20px;
	margin-top:-13px;
}
.headerWeb_theme.header_section .service_wrapper{
	margin-right:0px;
	padding-left:0px;
	margin-bottom:0px;
	margin-top:0px;
	display:flex;
	align-items:center;
}
.headerWeb_theme.header_section .sticky-header{
	background:rgba(255,255,255,.9);
}
.headerWeb_theme.header_section .sticky-header .Header_logo a {
    display: inline-block;
    max-width: 100px;
}
.headerWeb_theme .navigation_combo .nav_multilabel > li > a {
    padding: 10px 8px 10px 8px;
    font-size: 1rem;
	font-weight:600;
	font-family:'Poppins', sans-serif;
	text-transform: capitalize;
	color:#080C76;
}
.mobile-menu .nav_multilabel li > a{
	font-size: 1rem;
	font-weight:600;
	font-family:'Poppins', sans-serif;
	text-transform:capitalize;
	color:#080C76;
}
.header_section .service_wrapper h4{
	font-size: 1.4rem;
	font-weight:700;
	font-family:'Poppins', sans-serif;
}
.header_section .outer-box{
	margin-left:0px;
}

@media (max-width: 992px){
	.headerWeb_theme.header_section .mobileNavCombo_header{
		background:none;
	}
	.headerWeb_theme.header_section .mobile-sticky-header{
		background:rgba(255,255,255,.9);
	}
	.headerWeb_theme.header_section .Header_logo, .headerWeb_theme.header_section .sticky-header .Header_logo a {
		max-width: 250px;
	}
	.mobile-menu .nav-logo a{
		max-width:250px;
	}
	.headerWeb_theme.header_section .service_wrapper{
		margin-top:15px;
	}
}

.card_section_block{
	background:rgba(255,255,255,.7);
	position:relative;
	display:block;
	overflow:hidden;
	border-radius:20px;
	box-shadow:0px 0px 20px rgba(0,0,0,.3);
}
.card_section_block.banner_content_block{
	max-height:600px;
}
.card_section_block.package_content_block{
	max-height:600px;
}
.curve_designImg{
	position:absolute;
	top:-40px;
	left:-20px;
}
.package_detailsValue{
	padding:50px 10px 40px 40px;
}
.package_detailsValue h2, .package_content_block h3, .package_features_block h3{
	font-family: 'Great Vibes', cursive, serif;
	font-size:38px;
	font-weight:normal;
	letter-spacing:-.5px;
	color:#2e0483;
}
.vacationPackage_Section .package_content_block h3, .packageFeatures_Section .package_features_block h3{
	font-size:36px;
	font-weight:normal;
	color:#FFFFFF;
}
.package_detailsValue h2 strong, .package_content_block h3 strong, .packageFeatures_Section .package_features_block h3 strong{
	font-weight:bold;
	font-size:65px;
	color:#f54162;
}
.vacationPackage_Section .package_content_block h3 strong, .packageFeatures_Section .package_features_block h3 strong{
	font-size:55px;
	color:#f3793e;
}
.packageFeatures_Section .package_features_block h3{
	color:#2e0483;
}
.packageFeatures_Section .package_features_block h3 strong{
	color:#f3143e;
}
.bannerTravel_img{}
.priceRetail_value_line{
	display:flex;
	align-items:center;
	margin-bottom:20px;
}
.priceRetail_value_line .retail_valueBox{
	position:relative;
	display:block;
	padding:10px 12px;
	border-radius:6px;
	background:rgba(0,0,130,1);
	height:100%;
	min-width:100px;
}
.priceRetail_value_line .retail_valueBox::after{
	content:'';
	width:16px;
	height:16px;
	background:rgba(0,0,130,1);
	position:absolute;
	right:-8px;
	top:33%;
	transform:rotate(45deg);
}
.priceRetail_value_line .retail_valueBox strong{
	font-size:20px;
	line-height:1.2;
	text-align:center;
	display:inline-block;
	color:#FFFFFF;
}
.priceRetail_value_line .retail_valueBox strong span{
	display:block;
	font-size:10px;
	color:rgba(255,255,255,.6);
}
.priceRetail_value_line .retail_InfoBox{
	position:relative;
	margin-left:20px;
}
.priceRetail_value_line .retail_InfoBox h4{
	color:#f54162;
	font-size:17px;
}

#fullScreenVideo {
  /* position: fixed; */
  right: 0;
  bottom: 0;
  /*
  min-width: 100%; */
  width: 100%;
  height: 100%;
}

.videoScreenContent{
   /* position: fixed; */
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #f1f1f1;
  width: 100%;
  height:100%;
  /* padding: 20px; */
  /*position:absolute;*/
/*  top:0%;
  left:0%;
  right:0%;
  bottom:0%; */
  /*transform: translate(-50%, -50%);*/
  display:flex;
  align-items:center;
  justify-content:center;
}
.videoScreenContent .videoContentarea{
/*	width:500px;
	position:absolute;
	top:40%;
	left:50%;
	transform:translate(-50%, -50%); */
	display:block;
	text-align:center;
}
.videoScreenContent .videoContentarea h1{
	font-family: 'Engagement', cursive;
	font-size:90px;
	font-weight:normal;
	color:#FFFFFF;
}
.videoScreenContent .videoContentarea p{
	font-family: 'Poppins', sans-serif;
	font-size:20px;
	font-weight:500;
	color:#FFFFFF;
	text-align:center;
}
.bannerTop_btnBlock{
    display: flex;
    align-items: center;
    justify-content: center;
	margin-top:30px;
}
.bannerTop_btnBlock a.banner_btn, .parallax_contentBox a.banner_btn{
	font-family: 'Poppins', sans-serif;
	font-size:1rem;
	background:#FFFFFF;
	color:#14161c;
	min-height:42px;
	line-height:42px;
	
    border: 0 none;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding: 0 40px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    border-radius: 5px;
}
.parallax_contentBox a.banner_btn{
	margin-top:30px;
}
.bannerTop_btnBlock a.play_btn, .parallax_contentBox a.videoPop_Btn{
	height: 54px;
    width: 54px;
    line-height: 54px;
	background:#ff327e;
    display: flex;
    align-items: center;
    justify-content: center;
	
	border-radius: 50%;
    box-shadow: 0px 8px 16px 0px rgb(125 178 73 / 20%);
    text-align: center;
    color: #fff;
    padding-left: 3px;
    margin-left: 20px;
}
.parallax_contentBox a.videoPop_Btn{
	position:absolute;
	bottom:40px;
	right:-30px;
	height: 70px;
    width: 70px;
	background:#FFFFFF;
	border:5px solid #FFFFFF;
}
.bannerTop_btnBlock a.play_btn i{
	font-size:1.5rem;
}
.parallax_contentBox a.videoPop_Btn i{
	color:#ff327e;
	font-size:1.8rem;
}
.bannerTop_btnBlock a:hover.play_btn, .bannerTop_btnBlock a:active.play_btn{
	background:#000000;
	color:#ff327e;
}
.parallax_contentBox a:hover.videoPop_Btn, .parallax_contentBox a:active.videoPop_Btn{
	background:#FFFFFF;
	border:5px solid #ff327e;
	color:#ff327e;
	box-shadow: 0px 0px 24px 0px rgba(125,178,73,.3);
}

.bannerTop_btnBlock a:hover.banner_btn, .bannerTop_btnBlock a:focus.banner_btn{
	background:#ff327e;
	color:#FFFFFF;
}



#videoControlBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#videoControlBtn:hover {
  background: #ddd;
  color: black;
}
.topSite_ActionBtn{
	display:flex;
	align-items:center;
	justify-content:flex-end;
}
.topSite_ActionBtn a{
	border:1px solid #FFFFFF;
	margin-left:10px;
	padding:6px 25px;
	font-size:1rem;
	color:#FFFFFF;
}
.companyOverviewSidebar.cart-btn-outer{
	border:1px solid #FFFFFF;
	padding:0;
	margin:0px 0px 0px 10px;
}
button.companyInfo-btn{
	padding:6px 15px;
}
button.companyInfo-btn i.icon{
	font-size:1rem;
	color:#FFFFFF;
}
.main_container_wrapper::before{
	content:'';
	background:url(../images/banner_bottomBg.png) no-repeat;
	position:absolute;
	left:0;
	right:0;
	width:100%;
	height:450px;
	z-index:1;
	display:none;
}
.main_container_wrapper{
	position:relative;
	z-index:1;
	margin-top:30px;
}


.marketingFeatures_blocks .featuredInfo_imgBox.Info_imgBox_Left h4{
	text-align:center;
	margin-bottom:0px;
	font-size:1.3rem;
	padding-top:0px;
	font-family: 'Poppins', sans-serif;
}
.marketingFeatures_blocks .featuredInfo_imgBox.Info_imgBox_Left h4 a{
	font-size:1.3rem;
	font-family: 'Poppins', sans-serif;
}
.featureIcon_Block{
	display:flex;
	align-items:center;
	justify-content:center;
}
.featureIcon_Block .featureIcon_box{
	width:70px;
	height:70px;
	margin-top:-40px;
	position:relative;
	z-index:2;
	border-radius:100%;
	background:#FFFFFF;
	box-shadow:0px 0px 20px rgba(0,0,0,.2);
	display:flex;
	align-items:center;
	justify-content:center;
}
.vacationDaddy_header .sticky-header .Header_logo img{
	width:80px;
}

.section_parallax_panel.parallax_bgOne {
    background: url(../images/bg_img/vegas_strip_3.jpg) fixed center center;
}
.section_parallax_panel.parallax_bgTwo {
    background: url(../images/bg_img/vegas_strip_2.jpg) fixed center center;
}
.section_parallax_panel.parallax_bgOne::before, .footer_part::before{
	content:'';
	background:url(../images/banner_bottomBg2.png) no-repeat;
	position:absolute;
	top:0px;
	left:0;
	right:0;
	width:100%;
	height:100px;
	z-index:1;
	display:none;
}
.section_parallax_panel.parallax_bgOne .parallax_contentBox.fill_bgcolor{
	background:url(../images/package_info_bg.png) no-repeat center center;
	min-height:400px;
	margin-right:-100px;
	padding:0px;
	overflow:inherit;
}
.section_parallax_panel.parallax_bgTwo .parallax_contentBox.fill_bgcolor{
	background:url(../images/why_title_bg.png) no-repeat top left;
	min-height:400px;
	margin-left:-40px;
	margin-top:-70px;
	padding:0px;
}
.parallax_bgOne .section_container {
    padding-top: 160px;
    padding-bottom: 160px;
}
.dark_theme.section_parallax_panel.packageParallax_Sec .parallax_contentBox.fill_bgcolor{
	background:#ff327e;
	border-radius:10px;
	overflow:visible;
}
.packageParallax_Sec .parallax_contentBox h2{
	font-family: 'Engagement', cursive;
	font-weight:normal;
	font-size:60px;
	line-height:55px;
	color:#fff000 !important;
}

.PixaCarousel_section.carouselPackage_List{
	padding-top:150px;
	padding-bottom:80px;
	margin-top:-80px;
	z-index: 1;
    position: relative;
}
.PixaCarousel_section.carouselPackage_List::before{
	content:'';
	background:url(../images/banner_bottomBg.png) no-repeat;
	position:absolute;
	top:0px;
	left:0;
	right:0;
	width:100%;
	height:450px;
	z-index:1;
}
.PixaCarousel_Container{
    position: relative;
    z-index: 2;
}
.carouselSectionTitle{
	display:block;
	margin-bottom:40px;
	border-left:3px solid #FF0000;
	padding-left:20px;
}
.carouselSectionTitle h2{
	font-weight:700;
	font-family: 'Poppins', sans-serif;
	font-size:2.4rem;
	text-transform:capitalize;
	color:#000000;
}
.carouselSectionTitle h2{
	line-height:1;
}
.carouselSlide_FullWidth.LeftRight_Shadow .owl-stage-outer::before, .carouselSlide_FullWidth.LeftRight_Shadow .owl-stage-outer::after{
	display:none;
}
.carouselPackage_List .owl-carousel .owlCarousel_Item{
	background:none;
}
.carouselPackage_List .owl-carousel .owl-stage-outer{
	overflow:visible;
}

.servicesPackages_Block.featuredInfo_imgBox .imgBox_Wrap{
    height: 410px;
    min-height: 410px;
    max-height: 410px;
    margin-bottom:0px;
}
.servicesPackages_Block.featuredInfo_imgBox .infoBox_Wrap{
	margin-top:15px;
}
.servicesPackages_Block.featuredInfo_imgBox .infoBox_Wrap h4{
	margin-bottom:0px;
}
.servicesPackages_Block.featuredInfo_imgBox .infoBox_Wrap h4 a{
	display:flex;
	align-items:center;
	justify-content:space-between;
	font-size:1.3rem;
}
.servicesPackages_Block.featuredInfo_imgBox .infoBox_Wrap h4 a span.tourPackagePrice{
	font-weight:600;
	max-width:80px;
	min-width:80px;
	margin-left:auto;
	text-align:right;
}
.footer_part{
	position:relative;
	background:#1E1E1E;
	border:0 none;
	padding:60px 0px;
	margin-top:60px;
    background: url(../images/ft_worldmap.png) no-repeat top center #1E1E1E;
}
.copyright_part{
	margin-top:20px;
	padding-top:20px;
	border-top:1px solid rgba(255,255,255,.1);
	text-align:center;
}
.copyright_part .bottom_left_right_info{
	margin:0px 0px 0px 0px;
	padding:0px;
	border:0 none;
}
.copyright_part .copyright_info, .bottom_links_line a{
	text-align:left;
	font-size:.85rem;
	color:rgba(0,0,0,.6);
}
.copyright_part .copyright_info{
	text-align:center;
	font-size:.8rem;
	color:rgba(255,255,255,.3);
}
.bottom_links_line{
	display:block;
	position:relative;
}
.bottom_links_line a{
	position:relative;
	padding-right:10px;
	margin-right:10px;
	display: block;
	color:rgba(255,255,255,.3);
	font-size:.9rem;
	margin-bottom:5px;
}
.bottom_links_line a::after{
	content:'';
	width:1px;
	height:12px;
	background:rgba(0,0,0,.4);
	display:inline-block;
	position:absolute;
	right:0px;
}
.bottom_links_line a:last-child::after{
	display:none;
}
.footer_content_block h5{
	color:#FFFFFF;
	margin-bottom:15px;
}
.footer_content_block, .footer_content_block p{
	font-size:.9rem;
	line-height:normal;
}
.footer_content_block p{
	margin-bottom:20px;
}
.quicLinks_block{
	display:flex;
	align-items:center;
}
.quicLinks_block .quickLink_col{
	min-width:180px;
}
.footer_logo{
	margin-bottom:10px;
}

#closer_videopopup{
    position: absolute;
    display: table-cell;
    right: 2%;
    top: 2%;
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
    padding: auto;
    cursor: pointer;
    background: none;
    border: none;
    color: #ffffff;
    z-index: 100004;
}
#opct{
    position: fixed;
    z-index: 100000;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    filter: alpha(opacity=95);
    -moz-opacity: 0.95;
    opacity: 0.95;
}
#videoPopContent{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: auto;
    max-width: 720px;
    height: 0;
    height: auto !important;
}
video.videoCanvusPopUp{
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    opacity: 1 !important;
}

@media (max-width: 992px){

button.companyInfo-btn, .topSite_ActionBtn a{
	margin-left:0px;
	padding:6px 15px;
	font-size:1rem;
}
.vacationDaddy_header .mobileNavCombo_header{
	background-color: transparent;
}
#fullScreenVideo{
	height:100vh;
	width:auto;
	transform:translate(-35%, 0%);
}

.main_container_wrapper::before{
}
.aboutInfo_Section{
	padding-top:90px;
	padding-bottom:10px;
}
.aboutInfo_Section h2{
	font-size:1.8rem;
}
.featuredInfo_imgBox{
	margin-bottom:20px;
	border-radius:0 !important;
}
.featuredInfo_imgBox .imgBox_Wrap {
    height: 140px;
    min-height: 140px;
	max-height: 140px;
    margin-bottom: 5px;
}
.featuredInfo_imgBox .Info_imgBox_content{
	padding:10px 10px 20px;
}
.marketingFeatures_blocks .featuredInfo_imgBox.Info_imgBox_Left h4, .marketingFeatures_blocks .featuredInfo_imgBox.Info_imgBox_Left h4 a{
	font-size:.9rem;
}
.featureIcon_Block .featureIcon_box{
	width:50px;
	height:50px;
}
.featureIcon_Block .featureIcon_box img{
	display:inline-block;
	max-width:30px;
}
.PixaCarousel_section.carouselPackage_List{
	padding-top:120px;
	padding-bottom:10px;
}
.carouselSectionTitle h2{
	font-size:2rem;
}
.footer_content_block, .footer_content_block p, .plain_social_links{
	text-align:center;
}
.copyright_part .bottom_left_right_info, .plain_social_links{
	margin-top:10px;
}
.sidebar-companyInfo .shopping-companyInfo{
	width:340px;
}
.videoScreenContent .videoContentarea h1{
	font-size:72px;	
}
.videoScreenContent .videoContentarea p{
	font-size:16px;
}
.dark_theme.section_parallax_panel.packageParallax_Sec .parallax_contentBox.fill_bgcolor{
	padding:30px 30px;
}
#closer_videopopup{
    right: 15px;
    top: 5px;
    font-size: 24px;
}
video.videoCanvusPopUp{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    opacity: 1 !important;
	transform:translate(-50%, 50%);
}
.footer_logo{
	text-align:center;
}
.quicLinks_block .quickLink_col, .bottom_links_line a{
	text-align:center;
}
.main_container_wrapper{
	margin-top:20px;
}
.bodyWrap_bg{
	padding:30px;
}
.nav-outer .mobile-nav-toggler{
	color:#080C76;
}
}

/* INNER PAGE STYLES =============================== */
.innerPage_Banner{
	max-height:800px;
	overflow:hidden;
	position:relative;
	display:block;
}
.innerPage_container{
	padding-bottom:20px;
}
.innerPage_container .siteInfo_content{
	max-width: 800px;
}
.aboutInfo_Section, .innerPage_container{
	position:relative;
	z-index:1;
	padding:80px 40px 40px 40px;
}
.innerPage_container .package_detailsValue{
	padding: 0px;
}
.aboutInfo_Section .siteInfo_content, .innerPage_container .siteInfo_content{
	max-width:700px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:40px;
}
.innerPage_container h1{
	font-size:36px;
	font-weight:900;
	text-transform:uppercase;
	line-height:1;
	margin-bottom:15px;
}
.aboutInfo_Section h2, .innerPage_container h2{
	text-align:left;
	margin-bottom:20px;
}
.aboutInfo_Section p, .innerPage_container p{
	text-align:left;
	font-size:15px;
}
.innerPage_container .package_detailsValue{}
.innerPage_container .package_detailsValue .priceRetail_value_line{
	align-items:flex-start;
}

.collapes_content_block{
	/*padding-top:40px;
	padding-bottom:40px;*/
	padding-top:20px;
	padding-bottom:0px;
}
.collapes_content_block h3, .collapes_content_block h4{
	color:#ff327e;
	text-transform:uppercase;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 48px;
	font-weight: 900;
}
.collapes_content_block h3{
	padding-bottom:20px;
}
.collapes_content_block h4{
	font-size:21px;
	padding-bottom:10px;
}
.collapes_content_block h4 img, .collapes_content_block h3 canvus, .collapes_content_block h3 img, .packages_container .pack_gray_strong img, .packageOffer_addInfo img /*.promo_offerDetails_block .why_section_subtitle img, .promo_offerDetails_block img, */{
    /* -webkit-filter: hue-rotate(110deg); */
    /* filter: hue-rotate(110deg); */
}
.collapes_content_block p{
	color: #525355;
	font-size: 14px;
	font-weight:400;
	font-family: 'Poppins', sans-serif;
	text-align:left;
	display: block;
	line-height: 22px;
}
.collapeExpand_content_block{
	background-color:transparent;
	padding:0;
	border:0 none;
}
.collapeExpand_content_block ul{
	display:block;
	padding:0;
	margin:0 0 0 0px;
}
.collapeExpand_content_block ul li{
	padding-top:2px;
	color: #828799;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	text-align:left;
	display:inline-block;
	line-height: 22px;
	display:block;
	padding-bottom:2px;
	text-transform:uppercase;
}
.collapeExpand_content_block ul li a{
	color: #f3793e;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	text-align:left;
	display:block;
	line-height: 22px;
	text-transform:lowercase;
	margin-left:0px;
}
.collapes_content_block .panel-group{
	margin-top:10px;
}
.collapes_content_block .panel{
	background-color:transparent;
	border:0 none;
}
.collapes_content_block .panel-default>.panel-heading{
	background-color:transparent;
	border:0 none;
	padding-left:0;
	padding-right:0;
	border-radius:0;
	padding-bottom:0;
	padding-top:0;
}
.collapes_content_block .panel-default>.panel-heading h4{
	border-bottom:1px solid #2e0048;
	padding-top:10px;
	padding-bottom:15px;
}
.collapes_content_block .panel-default>.panel-heading h4 a{
	color:#FFFFFF;
	text-transform:uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:21px;
	font-weight: 900;
}
.collapes_content_block .panel-default>.panel-heading+.panel-collapse .panel-body{
	padding-bottom:0;
	padding-top:10px;
	padding-left:0;
	padding-right:0;
	border:0 none;
}
a.expand_more_btn{
	background-color:#f3793e;
	border:0 none;
	font-size:12px;
	line-height:normal;
	padding:4px 10px;
}
a:hover.expand_more_btn, a:focus.expand_more_btn, a:active.expand_more_btn{
	background-color:#000000;
	outline:none;
	border:0 none;
	box-shadow:none;
}
h3.open_title1 {
    font-size: 38px;
    padding-top: 50px;
}
.open_title1 a {
    color: #ffffff;
}
ul.packages_details_collapes{}
ul.packages_details_collapes li{
	font-size:18px;
	font-weight:700;
	color:#FFFFFF;
	line-height:30px;
}
ul.packages_details_collapes li a{
	font-size:18px;
	font-weight:700;
	color:#FFFFFF;
	line-height:30px;
}
/* Package Styles */
.vacation_packags_block{
	background:rgba(255,255,255,1);
	/*border:20px solid rgba(72,0,113,.85);*/
	border-radius:6px;
		-moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px;
	box-shadow:0 0 10px #000;
		-moz-box-shadow:0 0 10px #000; -webkit-box-shadow:0 0 10px #000; -o-box-shadow:0 0 10px #000;
}
.packages_container{
	padding:20px;
}
.packages_container h4, .packages_container h3, .packages_container h5, .packages_container p.package_name, .packages_container p.package_price, .packages_container p.package_info{
	text-transform:uppercase;
	font-size:30px;
	font-weight:normal;
	font-family: 'Poppins', sans-serif;
	font-weight:700;
	text-align:center;
	display:block;
	border-bottom:1px solid #a7a7a7;
	padding-bottom:15px;
}
.packages_container h3, .packages_container p.package_price{
	font-size:72px;
	font-family: 'Roboto Slab', serif;
	font-weight:700;
	color:#ff327e;
	padding-top:10px;
	border-bottom:0 none;
}
.packages_container p.package_price{
	line-height:normal;
	display:block;
	color:#ff327e;
}
.packages_container h3 span, .packages_container p.package_price span{
	font-size:30px;
}
.packages_container h5, .packages_container p.package_info{
	font-size:24px;
    font-family: 'Roboto Slab', serif;
	font-weight:700;
    padding-top:10px;
    padding-bottom: 0px;
    border-bottom: 0 none;
    display: block;
	margin:0;
	line-height: 1.3;
}
span.pack_sub_title{
	display:block;
	color:#a4a4a4;
	padding-top:5px;
	padding-bottom:5px;
	font-size:14px;
	font-weight:normal;
}
p.pack_gray_strong{
	padding-top: 10px;
    color: #ff327e;
    font-size: 60px;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    display: block;
}

p.pack_gray_normal{
	padding-top: 10px;
    color: #828799;
    font-size: 14px;
    text-align: center;
    display: block;
    line-height: 22px;
}
p.pack_gray_normal strong{
	font-size:13px;
	font-weight:normal;
	color:#6a6a6a;
}
a.view_details_package{
	font-size:15px;
	color:#FFF;
	text-align:center;
	text-transform:uppercase;
	/*background:#005dc6;*/
	display:block;
	padding:15px 10px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	border-bottom-left-radius:6px;
		-moz-border-bottom-left-radius:6px; -webkit-border-bottom-left-radius:6px; -o-border-bottom-left-radius:6px;
	border-bottom-right-radius:0px;
		-moz-border-bottom-right-radius:6px; -webkit-border-bottom-right-radius:6px; -o-border-bottom-right-radius:6px;		
}
ul.packages_detailsListing{
	display:block;
	text-align:center;
	border-top:1px dashed #bbbbbb;
	margin-top:10px;
}
ul.packages_detailsListing li{
	display:block;
	text-align:center;
	border-bottom:1px dashed #bbbbbb;
	font-size:13px;
	font-family: 'Roboto Slab', serif;
	font-weight:900;
	padding:6px 10px;
	text-transform:uppercase;
}

.color_blue{
	color:#292983;
}
.color_green{
	color:#1a9f00;
}
.color_red{
	color:#e50101;
}
.color_violet{
	color:#480071;
}
.pack_btn_blue{
	background:#005ec7;
}
.pack_btn_green{
	background:#1a9f00;
}
.pack_btn_red{
	background:#e50101;
}
.pack_btn_violet{
	background:#480071;
}
.pack_btn_pink{
	background:#ff327e;
}

.packages_details_part{
	background:#FFF;
	padding:60px 0;
	box-shadow:0 0 10px #000;
		-moz-box-shadow:0 0 10px #000; -webkit-box-shadow:0 0 10px #000; -o-box-shadow:0 0 10px #000;
		
	position:relative;
	z-index:2;
}
.packages_details_block{
}
.packages_details_block h4{
	text-transform:uppercase;
	font-size:30px;
	font-weight:900;
	font-family: 'Raleway', sans-serif;
	text-align:right;
	display:block;
	border-bottom:1px solid #a7a7a7;
	padding-bottom:10px;
}
a.book_now_btn{
	text-align:center;
	padding:15px 50px;
	display:block;
	margin-top:20px;
	color:#FFF;
	text-transform:uppercase;
	font-size:21px;
	font-family:'OpenSansBold';
	border-radius:100px;
		-moz-border-radius:100px; -webkit-border-radius:100px; -o-border-radius:100px;
}
a.book_now_btn img{
	margin-right:10px;
}


ul.unorder_list{
	display:block;
	padding:0;
	margin:0 0 20px 30px;
}
ul.unorder_list li{
	line-height:normal;
	color:#131313;
	font-size:14px;
}

.package_details{}
.package_details ul li{ padding-bottom:7px; list-style:disc;}

.hotel_content_block{
	display:block;
	margin-bottom:30px;
}
.hotel_content_block h2{
	background:#00a886;
	color:#FFFFFF;
	padding:5px 10px;
	
	font-size:15px;
	font-weight:700;
	text-transform:uppercase !important;
	position:relative;
	line-height:normal;
	text-align:left;
	display:block;
	letter-spacing:normal;
	margin-bottom:5px;
}
.gallary_img_block{
	margin-bottom:20px;
	display:inline;
}
.gallary_img_block a{
	display:inline;
}
.gallary_img_block a img{
	display:inline-block;
	width:32%;
	vertical-align:top;
}


.gift_block{
	display:block;
	margin-bottom:30px;
}
.gift_block h2{
	font-size:18px;
	font-weight:700;
	text-transform: uppercase;
	margin-bottom:5px;
	color:#00a886;
}
.giftItem_Options{
	display:block;
	margin-bottom:10px;
}
.giftleft {float:left; margin:10px 10px 10px 0; width:280px;}
.giftright {float:right; margin:10px; width:320px;}

.contentArea_block{}
.contentArea_block h2{}

.contentArea_block h2{
	color:#00a886;
	font-size:18px;
	text-transform:uppercase !important;
	position:relative;
	line-height:normal;
	text-align:left;
	display:block;
	letter-spacing:normal;
	margin-bottom:5px;
}
.contentArea_block p{
	color:#131313;
	padding-bottom:15px;
}
.contentArea_block label{
	font-weight:600;
}
.topSite_ActionBtn a.lasVegas_portal{
	background-color:#ff327e;
	/* border-color:#ff327e; */
}
.topSite_ActionBtn a.puertoVallarta_portal{
	background-color:#006847;
	/* border-color:#ff327e; */
}

@media (max-width: 992px){
.innerPage_Banner{
	max-height: inherit;
	min-height:400px;
}
.innerPage_Banner img{
	min-height:400px;
	object-fit:cover;
}
.collapes_content_block h4{
	font-size:19px;
}
.giftleft, .giftright{
    float: none !important;
    width: 100%;
	margin:10px 10px 10px 0;
	display:block;
	text-align:center;
}
.innerPage_container .package_detailsValue .priceRetail_value_line{
	display: block;
}
.innerPage_container .priceRetail_value_line .retail_InfoBox{
	margin-left: 0px;
}
a.expand_more_btn{
	margin-top: 5px;
}
.slideShow_BannerSection{}
.slideShow_BannerSection .bannerTravel_img{}
.slideShow_BannerSection .bannerTravel_img img{
	display: inline-block;
	max-width: 100%;
}
}


.topSite_ActionBtn a{
	display:none;
}


/* PLAMS Styles */
.vacationPackage_Section{}
.vacationPackage_Section .package_content_block{}
.package_content_block h2, .package_features_block h2{
	font-size:36px;
	font-weight:900;
	color:#f3793e;
	text-transform:uppercase;
	margin-bottom:10px;
}
.package_features_block h2{
	color:#FFFFFF;
}
.package_details_block{
	display:block;
	position:relative;
	padding:60px 140px 60px 130px;
}
.package_includeInfo{
	display:block;
	margin-top:20px;
}
.package_includeInfo h4{
	color:#FFFFFF;
}
.package_includeInfo ul{
	display:block;
	margin:0px;
	padding:0px;
}
.package_includeInfo ul li{
	color:#FFFFFF;
	font-size:14px;
}
.siteButton_block{
	display:block;
	margin-top:30px;
}
.siteButton_block a{
	border-radius:6px;
	padding:8px 20px 9px;
	background:#00a886;
	color:#FFFFFF;
	text-transform:uppercase;
	display:inline-block;
}
.whyChoose_info_title{
	display:block;
	padding:110px 40px 40px 80px;
}
.featuresDetails_block{
	padding:60px 40px;
	display:block;
}
.features_detailsLine{
	display:flex;
	align-items:center;
	justify-content:space-between;
	background:rgba(255,255,255,.9);
	padding:15px 20px;
	border-radius:10px;
	margin:10px 0px;
}
.features_detailsLine h4{
	text-align:left;
	line-height:1.1;
	font-size:16px;
	margin-bottom:0px;
	color:#2e0483;
}
.features_detailsLine h5{
	text-align:right;
	font-size:24px;
	margin-bottom:0px;
	color:#f3143e;
}

.package_priceStar{
	display:block;
	position:absolute;
	left:-80px;
	bottom:65px;
}
.package_priceStar_info{
	display:flex;
	align-items:center;
	justify-content:center;
}
.package_priceStar img{
	display:inline-block;
	max-width:100%;
}
.package_priceStar_info{}
.package_priceStar_info, .priceStar_info{
	width:200px;
}
.priceStar_info{
	position:absolute;
	top:0px;
	left:0px;
	display:flex;
	align-items:center;
	justify-content:center;
	height:100%;
	text-align:center;
}
.priceStar_info h5{
	font-size:48px;
	color:#FFFFFF;
	line-height:1;
	margin-bottom:0px;
}
.priceStar_info h5 span{
	font-size:13px;
	font-weight:normal;
	text-align:center;
	text-transform:uppercase;
	color:rgba(255,255,255,.8);
	line-height:1;
	display:block;
	margin-top:5px;
}

.package_priceStar.priceNew_style.one_style{
    left: -20px;
    bottom: 75px;
}
.priceNew_style.one_style .package_priceStar_info .priceStar_info{
	top:6px;
	left:6px;
}
.priceNew_style.one_style .package_priceStar_info, .priceNew_style.one_style .package_priceStar_info .priceStar_info{
	width:150px;
}
.priceNew_style.one_style .package_priceStar_info img{}
.priceNew_style.one_style .package_priceStar_info .priceStar_info h5{
	font-size:32px;
	transform:rotate(-40deg);
}

.package_priceStar.priceNew_style.second_style{
    left: 0px;
    bottom: 0px;
	position:relative;
}
.package_priceStar.priceNew_style.second_style .package_includeInfo{
	margin-top:5px;
}
.priceNew_style.second_style .package_priceStar_info .priceStar_info{
	top:20px;
	left:40px;
	align-items:flex-start;
	justify-content:flex-start;
}
.priceNew_style.second_style .package_priceStar_info, .priceNew_style.second_style .package_priceStar_info .priceStar_info{
	width:200px;
}
.priceNew_style.second_style .package_priceStar_info img{}
.priceNew_style.second_style .package_priceStar_info .priceStar_info h5{
	font-size:32px;
	transform:rotate(0deg);
}


.package_priceStar.priceNew_style.three_style{
    left: -41px;
    bottom: 0px;
	position:relative;
}
.package_priceStar.priceNew_style.three_style .package_includeInfo{
	margin-top:5px;
}
.priceNew_style.three_style .package_priceStar_info .priceStar_info{
	top:35px;
	left:45px;
	align-items:flex-start;
	justify-content:flex-start;
}
.priceNew_style.three_style .package_priceStar_info, .priceNew_style.three_style .package_priceStar_info .priceStar_info{
	width:185px;
	height:auto;
}
.priceNew_style.three_style .package_priceStar_info img{}
.priceNew_style.three_style .package_priceStar_info .priceStar_info h5{
	font-size:32px;
	transform:rotate(0deg);
}


.navigationButton_Right {
    margin-left: 0px;
	margin-top:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigationButton_Right a {
    border: 0 none;
    color: #000000;
    background-color: transparent;
    padding: 8px 0px;
	font-size: 1.4rem;
    font-weight: 700;
    font-family: 'Roboto Condensed', 'Poppins', sans-serif;
	text-align:center;
}
.navigationButton_Right a span{color: #ed254d;}
	
@media (max-width: 992px){
.card_section_block.banner_content_block {
    max-height: none;
}
.section_parallax_panel.parallax_bgOne .parallax_contentBox.fill_bgcolor {
    min-height: 400px;
    margin-right: -300px;
}
.package_details_block {
    padding: 60px 320px 60px 130px;
}
.package_detailsValue {
    padding: 50px 30px 40px 30px;
}
.priceRetail_value_line .retail_valueBox{
	min-width:100px;
}
.innerPage_container .priceRetail_value_line .retail_valueBox{
	margin-bottom: 10px;
}
.priceRetail_value_line .retail_InfoBox h4 {
    font-size: 15px;
}
.priceRetail_value_line .retail_valueBox strong {
    font-size: 18px;
    text-align: left;
}
.package_detailsValue h2, .package_content_block h3, .package_features_block h3 {
    font-size: 32px;
}
.package_detailsValue h2 strong, .package_content_block h3 strong, .packageFeatures_Section .package_features_block h3 strong {
    font-size: 48px;
}
.package_content_block h2, .package_features_block h2 {
    font-size: 24px;
}
.vacationPackage_Section .package_content_block h3, .packageFeatures_Section .package_features_block h3 {
    font-size: 24px;
}
.vacationPackage_Section .package_content_block h3 strong, .packageFeatures_Section .package_features_block h3 strong {
    font-size: 36px;
}
.package_includeInfo h4 {
	font-size:16px;
}
.package_includeInfo ul li {
    font-size: 12px;
}
.siteButton_block a {
    border-radius: 6px;
    padding: 8px 20px 9px;
	font-size:13px;
}
.section_parallax_panel.parallax_bgTwo .parallax_contentBox.fill_bgcolor {
    margin-left: -180px;
    margin-top: -120px;
}
.whyChoose_info_title {
    padding: 160px 40px 40px 210px;
}
.featuresDetails_block {
    padding: 10px 30px 30px;
}
.section_parallax_panel.parallax_bgTwo {
    background: url(../images/bg_img/vegas_strip_2.jpg) fixed center right;
}
.package_priceStar{
	left:-10px;
	bottom:140px;
}
.package_priceStar_info, .priceStar_info{
	width:140px;
}
.priceStar_info h5{
	font-size:30px;
}
.priceStar_info h5 span{
	font-size:10px;
}
.features_detailsLine h4 {
    font-size: 14px;
}
.features_detailsLine h5 {
    font-size: 18px;
}
}



.headerRight_btn{
	display:flex;
	align-items:center;
}
.headerRight_btn a{
	margin-left:8px;
	padding:8px 30px;
	font-size: 1rem;
	font-weight:700;
	border:1px solid #080C76;
	color:#080C76;
	border-radius:8px;
}
.headerRight_btn a:last-child{
	background:#080C76;
	color:#FFFFFF;
}
.headerRight_btn a:first-child{
	margin-left:0px;
}
.mobile-menu .nav-logo {
    border-bottom: 1px solid rgba(0,0,0,0);
	background:#fdf5f5;
	margin-bottom:10px;
}
.bodyWrap_bg{
	background:#FFFFFF;
	border-radius:20px;
	box-shadow:2px 4px 10px rgba(0,0,0,.2);
	padding:40px;
	position:relative;
	display:block;
	overflow:hidden;
}
.signupFormWrap{}
.signupFormWrap h2{
	font-size:1.8rem;
	color:#080C76;
	margin-bottom:10px;
}
.signupFormWrap p{
	margin-bottom:20px;
	font-size:.9rem;
}
.bodyWrap_bg .form-label {
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
}
.bodyWrap_bg .form-group{
	margin-bottom:10px;
}
.bodyWrap_bg .row:last-child .form-group{
	margin-bottom:0px;
}
.bodyWrap_bg .form-group .form-control, .bodyWrap_bg .form-group .form-control:hover, .bodyWrap_bg .form-group .form-control:focus, .bodyWrap_bg .form-group .form-control:active {
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
    height: 40px;
    display: block;
    border-radius: 4px;
    padding: 5px 50px 5px 10px;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 6px inset, rgb(0 0 0 / 10%) 0px 1px 2px inset !important;
}
.bodyWrap_bg .form-group .form-control:hover, .bodyWrap_bg .form-group .form-control:focus, .bodyWrap_bg .form-group .form-control:active {
	border-color: #080C76;
    outline: 0;
}
.signup_checkbox_lines{
	display:block;
	margin-top:10px;
}
.signup_bottom_infoLine{
	display:block;
	margin-top:20px;
}
.signup_bottom_infoLine span {
    font-weight: 400;
}
.signup_bottom_infoLine span a {
    font-size: 1rem;
    font-weight: 600;
}
.loginCheckbox_line{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.signup_checkbox_lines .form-group.form-check{
	margin-bottom:5px;
}
.signup_checkbox_lines .form-check-label, .signup_checkbox_lines .form-check-label a{
	font-size:.9rem;
}
.formSubmit_btns{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.formSubmit_btns button{
	width:100%;
	margin-left:10px;
	background-color:#00D415;
	color:#FFFFFF;
	padding:10px 30px;
	font-size:1.1rem;
	font-weight:600;
	border:0 none;
	outline:0;
	box-shadow:none;
	border-radius:8px;
}
.formSubmit_btns button:hover, .formSubmit_btns button:focus, .formSubmit_btns button:active{
	color:#FFFFFF;
	background-color:#00bc13;
}
.formSubmit_btns button:first-child{
	margin-left:0px;
}
.newsletter_inputbox, .orderSearch_inputbox{
	display:block;
	position:relative;
}
.newsletter_inputbox .inputNewsEmail, .orderSearch_inputbox .inputTargetURL{
	height:50px;
	border-radius:4px;
	width:100%;
	padding:8px 20px;
}
.orderSearch_inputbox .inputTargetURL{
	height:70px;
	padding:10px 20px;
	border-radius:10px;
	margin-bottom:10px;
}
.newsletter_inputbox .formActionBtn, .orderSearch_inputbox .formActionBtn{
	width:40px;
	height:40px;
	border-radius:6px;
	background:#000000;
	color:#FFFFFF;
	position:absolute;
	top:5px;
	right:5px;
}
.orderSearch_inputbox .formActionBtn{
	width:auto;
	height:50px;
	padding-left:20px;
	padding-right:20px;
	border-radius:8px;
	background:#000000;
	color:#FFFFFF;
	position:absolute;
	top:10px;
	right:10px;
	
}
.tableImg_block{
	display:block;
	position:relative;
	overflow:hidden;
	width:70px;
	min-width:70px;
	max-width:70px;
	height:70px;
	min-height:70px;
	max-height:70px;
	border-radius:4px;
}
.tableImg_block{
	display:block;
	position:relative;
	width:100%;
	height:100%;
	object-fit:cover;
}
.orderFormWrap{
	padding:0px;
}
.orderFormWrap table.table{
	margin-bottom:0px;
}
.pageTitle_block{
	display:block;
}
.pageTitle_block h1{
	display:block;
	margin-bottom:0px;
}

@media (max-width: 992px){
.pageTitle_block{
	display:block;
	text-align:center;
	margin-bottom:10px;
}
}